<div class="container">
    <ul class="list-friend">
        <li class="friend">
            <i class='bx bx-user'></i>
            Duy
        </li>
        <li class="friend">
            <i class='bx bx-user'></i>
            Hoàng
        </li>
    </ul>
    <div class="camera">
        <video id="video" width="100%" controls></video>
    </div>
</div>