<div class="container">
    <form action="/sign-in" method="post">
        <input type="text" required placeholder="Enter your name" id="input-name" name="inputName"></input>
        <button type="submit"> Sign in</button>
    </form>
</div>
